@using WebApplication3.Models

@{ 
    int Amount = ViewBag.Amount;
    double Total = ViewBag.Total;
}

<div class="shopping_cart">
    <div class="cart_title">Shopping cart</div>
    <div class="cart_details">
        @Amount items <br />
        <span class="border_cart"></span> Total: <span class="price">@Total$</span>
    </div>
    <div class="cart_icon">
        <a href="@Url.Action("ShowDetail", "Cart")" title="header=[Checkout] body=[&nbsp;] fade=[on]">
            <img src="~/Content/_User/images/shoppingcart.png" alt="" width="48" height="48" border="0" />
        </a>
    </div>
</div>