
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="center_content">
    <div class="center_title_bar">Confim</div>
    <h2>Đặt hàng thành công!</h2>
</div>